{% extends "maintemplate.html" %}
{% block css %}
    <style>
        * {
            border-style: dotted 1px black;
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            list-style-type: none;
            text-decoration: none;
            color: black;
            text-decoration-line: none;
        }
        #field {
            font-size: larger;
            font-weight: bold;
        }
        a,
        li * {
            text-decoration: none;
            color: black;
            text-decoration-line: none;
            ;
        }
        #section>* {
            width: 50%;
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock css %}
{% block main_container %}
<div class="container input-form-backgroud row" id="section">
    <div class="col" style="display: grid; place-items: center;">
        <form name="registerForm" class="validation-form " onsubmit="return validateForm()">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">회원가입</h4>
                <hr class="mb-4">
                <p style="font-size: 70%; color:#9747FF">필수 입력 사항</p>
                <div class="mb-3">
                    <label for="user_name">이름</label>
                    <input type="text" class="form-control" name="user_name" id="user_name" placeholder="이름을 입력해주세요.">
                </div>
                <div class="mb-3">
                    <label for="user_phonenumber">전화번호</label>
                    <div style="display: flex;">
                        <input type="text" class="form-control me-2" name="user_phone" id="user_phonenumber"
                            placeholder="ex) 010-1234-1234" value="">
                        <button type="button"
                            onclick="window.open('/(인증경로넣기)', 'certify확인창', 'width=430, height=500, location=no, status=no, scrollbars=yes');"
                            style="border:none; width: 100px;background-color: #00CBFE; color: #FFFFFF;">인증하기</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user_ID">ID</label>
                    <div style="display: flex;">
                        <input type="text" class="form-control me-2" name="user_ID" id="id" placeholder="ID를 입력해주세요">
                        <button type="button"
                            onclick="window.open('/user/user_joincheck_ID', 'ID확인창', 'width=430, height=500, location=no, status=no, scrollbars=yes');"
                            style="border:none; width: 100px; background-color: #00CBFE; color: #FFFFFF;">중복확인</button>
                    </div>
                    <div style="font-size: 70%; color:#9747FF;">영소문자, 숫자 혼용하여 4~12글자 입력</div>
                </div>
                <div class="mb-3">
                    <label for="user_pswd">Password</label>
                    <input type="password" class="form-control" name="user_pswd" id="user_pswd"
                        placeholder="비밀번호를 입력해주세요" required>
                    <div style="font-size: 70%; color:#9747FF">영소문자, 숫자 혼용하여 4~12글자 입력</div>
                </div>
                <div class="mb-3">
                    <label for="user_pswd_check">Password 확인</label>
                    <input type="password" class="form-control" name="user_pswd_check" id="user_pswd_check"
                        placeholder="비밀번호를 입력해주세요">
                    <div style="font-size: 70%; color:#9747FF">비밀번호 틀릴 경우 재입력</div>
                </div>
                <div class="mb-3">
                    <label for="user_email">이메일</label>
                    <div style="display: flex;">
                        <input type="email" class="form-control me-2" name="user_email" id="user_email"
                            placeholder="you@example.com">
                        <button type="button"
                            onclick="window.open('/user/user_joincheck_email', 'email확인창', 'width=430, height=500, location=no, status=no, scrollbars=yes');"
                            style="border:none; width: 100px; background-color: #00CBFE; color: #FFFFFF;">중복확인</button>
                    </div>
                </div>
                <div>
                    <div class="mb-3">
                        <label for="user_postcode">주소</label>
                        <input type="text" class="form-control" id="user_postcode" name="user_postcode"
                            placeholder="우편번호">
                        <input type="text" class="form-control" id="user_address" name="user_address"
                            placeholder="시/구/동 입력" required>
                        <input type="text" class="form-control" id="user_detailed_address" name="user_detailed_address"
                            placeholder="상세주소를 입력해주세요.">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user_sex">성별</label>
                    <select name="user_sex"
                        style="border:none; background: none; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);"
                        id="user_sex">
                        <option value="none" hidden>선택</option>
                        <option value="남자">남자</option>
                        <option value="여자">여자</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="user_birth">생년월일</label>
                    <input type="text" class="form-control" id="user_birth" name="user_birth"
                        placeholder="8자리 모두 입력해주세요. ex)20240112">
                </div>
            </div>
            <hr class="mb-4">
            <p style="font-size: 70%; color:#9747FF">선택 입력 사항</p>
            <div class="mb-3">
                <div class="mb-3">
                    <div>
                        <label for="path_select">가입 경로를 선택해주세요.</label>
                    </div>
                    <div>
                        <select name="path_select" id="path_select">
                            <option value="none" hidden>선택</option>
                            <option value="인터넷검색">인터넷검색</option>
                            <option value="SNS">SNS</option>
                            <option value="커뮤니티">커뮤니티</option>
                            <option value="카탈로그">카탈로그</option>
                            <option value="기타">기타</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label for="user_who">해당 사항이 있는 항목을 선택해주세요.</label>
                    </div>
                    <div>
                        <select name="user_who" id="user_who">
                            <option value="none" hidden>선택</option>
                            <option value="환자">환자</option>
                            <option value="보호자">보호자</option>
                            <option value="관련종사자">관련종사자</option>
                            <option value="기타">기타</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label for="ralated_diseases">관련 질환명을 선택해주세요.</label>
                    </div>
                    <div>
                        <select name="ralated_diseases" id="ralated_diseases">
                            <option value="none" hidden>선택</option>
                            <option value="선택1">선택1</option>
                            <option value="선택2">선택2</option>
                            <option value="선택3">선택3</option>
                            <option value="선택4">선택4</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label for="hope_info">사이트에서 얻고자 하는 정보를 선택해주세요.</label>
                    </div>
                    <div>
                        <select name="hope_info" id="hope_info">
                            <option value="none" hidden>선택</option>
                            <option value="관련 법 사항">관련 법 사항</option>
                            <option value="관련 정책 사항">관련 정책 사항</option>
                            <option value="관련 뉴스">관련 뉴스</option>
                            <option value="관련 학술정보">관련 학술정보</option>
                            <option value="프로그램 참여">프로그램 참여</option>
                            <option value="커뮤니티 소통">커뮤니티 소통</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input required-agreement" id="aggrement">
                <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
            </div>
            <div class="mb-4">
                <button class="btn btn-lg " style="background-color: #00CBFE; color: #FFFFFF; width: 100%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);"
                    type="submit" formaction="/user/user_login" formmethod="post">회원가입하기</button>
            </div>
        </form>
    </div>
</div>
</html>
<script>
    var form = document.querySelector('.validation-form');
    form.addEventListener('submit', function (event) {
        var password = document.querySelector('#user_pswd').value;
        var passwordCheck = document.querySelector('#user_pswd_check').value;
        if (password !== passwordCheck) {
            alert('비밀번호가 일치하지 않습니다.');
            event.preventDefault();
        }
    });
    function validateForm() {
        var name = document.forms["registerForm"]["user_name"].value;
        var phonenumber = document.forms["registerForm"]["user_phonenumber"].value;
        var ID = document.forms["registerForm"]["user_ID"].value;
        var pswd = document.forms["registerForm"]["user_pswd"].value;
        var pswd_check = document.forms["registerForm"]["user_pswd_check"].value;
        var email = document.forms["registerForm"]["user_email"].value;
        var postcode = document.forms["registerForm"]["user_postcode"].value;
        var address = document.forms["registerForm"]["user_address"].value;
        var detailed_address = document.forms["registerForm"]["user_detailed_address"].value;
        var birth = document.forms["registerForm"]["user_birth"].value;
        var sex = document.forms["registerForm"]["user_sex"].value;
        if (name == "" || phonenumber == "" || ID == "" || pswd == "" || pswd_check == "" || email == "" || postcode == "" || address == "" || detailed_address == "" || birth == "") {
            alert("필수사항을 모두 입력해주세요.");
            return false;
        }
    }
</script>
{% endblock %}